menu "DS3231 RTC Configuration"

    choice ENABLE
        prompt "Enable DS3231 RTC"
        default DS3231_RTC_ENABLED
        help
            Enable/Disable DS3231 RTC.
        config DS3231_RTC_ENABLED
            bool "DS3231 Enabled"
        config DS3231_RTC_DISABLED
            bool "DS3231 Disabled"
    endchoice

    if DS3231_RTC_ENABLED
            
        config DS3231_SCL_GPIO
            int "SCL GPIO number"
            range 0 34
            default 22
            help
                GPIO number (IOxx) to I2C SCL.
                Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to I2C.
                GPIOs 35-39 are input-only so cannot be used as outputs.
            
        config DS3231_SDA_GPIO
            int "SDA GPIO number"
            range 0 34
            default 21
            help
                GPIO number (IOxx) to I2C SDA.
                Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to I2C.
                GPIOs 35-39 are input-only so cannot be used as outputs.
            
        config DS3231_INT_GPIO
            int "INTERRUPT GPIO number"
            range -1 34
            default 23
            help
                GPIO number (IOxx) to INTERRUPT.
                When it is -1, INTERRUPT isn't performed.
                Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to Reset.
                GPIOs 35-39 are input-only so cannot be used as outputs.
            
    endif

endmenu
